


.form{

    position: relative;
}

.form .fa-search{

    position: absolute;
    top:20px;
    left: 20px;
    color: #9ca3af;

}

.form span{

        position: absolute;
    right: 17px;
    top: 13px;
    padding: 2px;
    border-left: 1px solid #d1d5db;

}

.left-pan{
    padding-left: 7px;
}

.left-pan i{
   
   padding-left: 10px;
}

.form-input{

    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
}

.form-input:focus{

    box-shadow: none;
    border:none;
}

.modal-content {
    background: transparent;
    border: none;
  }
  .modal-body {
    background: rgba(255, 255, 255, 0); /* Slightly transparent white background */
    
  }
  .form {
    position: relative;
    width: 100%;
  }
  .form-input {
    width: 100%;
    padding-left: 40px;
    
  }
  .fa-search {
    position: absolute;
    top: 10px;
    left: 10px;
    color: #999;
  }
  .left-pan {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #999;
  }




  /* Define a keyframe animation for sliding in the text */
@keyframes slideInText {
  0% {
    opacity: 0;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

/* Apply the animation to the slide-in-text class */
.slide-in-text {
  animation: slideInText 0.5s ease-in-out forwards;
}

/* Hide the carousel controls on extra small devices */
@media (max-width: 576px) {
  .carousel-control-prev,
  .carousel-control-next {
    display: none;
  }
}








.card_main {
  width: 30rem;
  height: 60vh;
  
  
   /* Adjust margin as needed */
}

/* Styles for large devices (e.g., tablets, small laptops) */
@media (min-width: 992px) {
  .card_main{
    width: 30rem; /* Adjust width for large devices */
    height: 70vh; 
    
    /* Adjust height for large devices */
  }
}

/* Styles for small devices (e.g., phones) */
@media (max-width: 576px) {
  .card_main{
    width: 100%; /* Full width for small devices */
    height: 30vh;
    
    
     /* Smaller height for small devices */
  }
}




/* product card */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body
{
    font-family: 'Roboto', sans-serif;
}
a
{
    text-decoration: none;
}
.product-card {
    width: 280px;
    position: relative;
    box-shadow: 0 2px 7px #afadad;
    margin: 30px auto;
    background: #fafafa;
    
}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.product-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    padding: 50px;
    background: #f0f0f0;
}

.product-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 10px;
}

.product-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #ccc;
    margin-bottom: 18px;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    margin-bottom: 18px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
    color: #fbb72c;
}

.product-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 18px;
    color: #999;
}

.product-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.product-bottom-details div {
    float: left;
    width: 50%;
}

.product-price {
    font-size: 18px;
    color: #fbb72c;
    font-weight: 600;
}

.product-price small {
    font-size: 80%;
    font-weight: 400;
    text-decoration: line-through;
    display: inline-block;
    margin-right: 5px;
}

.product-links {
    text-align: right;
}

.product-links a {
    display: inline-block;
    margin-left: 8px;
    color: #999595;
    transition: 0.3s;
    font-size: 25px;
}

.product-links a:hover {
    color: #fbb72c;
}